<div class="cart-container">
  <h3>თქვენი შეკვეთა</h3>
  <mat-divider></mat-divider>
  <div class="cart-items">
    <ng-container *ngIf="carts$ | async as carts">
      <app-cart-item *ngFor="let cart of carts" [cart]="cart" [quantity]="cart.quantity"></app-cart-item>
    </ng-container>
  </div>
  <div fxLayout="row" fxLayoutGap="15px" style="margin-top: 15px">
    <button fxFlex mat-raised-button routerLink="/">დაამატებთ რამეს?</button>
    <button fxFlex mat-raised-button color="primary" (click)="orderCreate()">შეკვეთა</button>
  </div>
</div>
