:host {
  padding: 0;
  display: block;
  width: 70%;
  margin: 0 auto;
  min-height: 50vh;

  .cart-container {
    margin: 15px;

    h3 {
      font-size: 16px;
    }

    .cart-items {
      margin-top: 15px;


    }
  }
}

@media (max-width: 1024px) {
  :host {
    width: 100%;
    margin: 0 auto;
  }
}
