<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>{{data.content}}</p>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="modal.close(false)">არა</button>
  <button mat-raised-button color="primary" (click)="modal.close(true)" >დიახ</button>
</div>
