:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;

  .drawer-container {
    min-height: 100vh;
  }

  .container {
    overflow: auto;
    max-height: calc(100vh - 40px);
  }


  ::ng-deep mat-drawer {
    width: 350px;

    ::ng-deep .mat-list-base .mat-list-item {
      font-family: "BPG Nino Mtavruli Bold", sans-serif !important;
    }
  }

  @media (max-width: 1024px) {
    ::ng-deep mat-drawer {
      width: 80vw;
    }
  }
}
