<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #menu mode="over">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a (click)="handleMenuRoute('orders')">ჩემი შეკვეთები</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"><a (click)="handleMenuRoute('profile')">პროფილი</a></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">
        <a href="#" (click)="logout()">გასვლა</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header-v2 (menuClicked)="menu.toggle()"></app-header-v2>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


