<div class="auth-container">
  <h3>პროფილის რედაქტირება</h3>
  <div class="auth-form">
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="ელ.ფოსტა" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="სახელი" formControlName="fullName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="მობლურის ნომერი" formControlName="phone">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="მისამართი" formControlName="address">
      </mat-form-field>

      <button mat-stroked-button color="accent" class="btn-block">რედაქტირება</button>
    </form>
    <div class="auth-links" fxLayout="row" fxLayoutAlign="center center">
      <a [routerLink]="['/profile/passwordUpdate']">პაროლის შეცვლა</a>
    </div>
  </div>
</div>
