<div class="container">
  <div class="logo">
    <a routerLink="/"><img src="assets/images/logo.png" alt=""></a>
  </div>
  <div class="basket">
    <button mat-icon-button color="primary" >
      <mat-icon [matBadge]="cartCount$ | async" matBadgeColor="warn" svgIcon="basket"></mat-icon>
    </button>

  </div>
</div>
<div class="categories">
  <div class="menu-area" [ngClass]="{'mobile': isSmallScreen}">
  <ng-container *ngIf="isSmallScreen">
      <div class="menu">
        <mat-icon svgIcon="hamburger"></mat-icon>
        <h3>მენიუ</h3>

      </div>
      <ul>
        <li class="item" [routerLink]="['/products/drinks']">სასმელი</li>
        <li class="item" [routerLink]="['/products/starters']">სტარტერები</li>
        <li class="item" [routerLink]="['/products/beer-menu']">ლუდის მენიუ</li>
        <li class="item" [routerLink]="['/products/main-dishes']">ძირითადი კერძები</li>
        <li class="item" [routerLink]="['/products/doughs']">ცომენული& ხინკალი</li>
        <li class="item" [routerLink]="['/products/pizza']">პიცა & პასტა</li>
        <li class="item" [routerLink]="['/products/salades']">სალათები & წვნიანები</li>
        <li class="item" [routerLink]="['/products/deserts']">დესერტი, ყავა და ჩაი</li>
      </ul>

  </ng-container>
  <ng-container *ngIf="!isSmallScreen">
    <ul>
      <li class="item" [routerLink]="['/products/drinks']">სასმელი</li>
      <li class="item" [routerLink]="['/products/starters']">სტარტერები</li>
      <li class="item" [routerLink]="['/products/beer-menu']">ლუდის მენიუ</li>
      <li class="item" [routerLink]="['/products/main-dishes']">ძირითადი კერძები</li>
      <li class="item" [routerLink]="['/products/doughs']">ცომენული& ხინკალი</li>
      <li class="item" [routerLink]="['/products/pizza']">პიცა & პასტა</li>
      <li class="item" [routerLink]="['/products/salades']">სალათები & წვნიანები</li>
      <li class="item" [routerLink]="['/products/deserts']">დესერტი, ყავა და ჩაი</li>
    </ul>
  </ng-container>
</div>
</div>
