:host {
  background: #fff;
  color: #004182;
  width: 100%;
  height: 114px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);

  .container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo {
      padding: 10px 15px;

      img {
        height: 50px;
      }
    }

    .basket {
      padding: 0 20px;
    }

  }


  @media (max-width: 1024px) {
    .container {
      width: 100%;
      margin: 0;
    }
  }
}

.categories {
  width: 100%;
  height: 40px;
  position: relative;
  background-color: #e1ae1d;

  .menu-area {
    width: 70%;
    margin: 0 auto;

    ul {
      background-color: transparent;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 2px;
      height: 36px;
      .item {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        font-size: 0.9rem;
        &:focus {
          outline: none;
        }
        &:hover {
          color: white;
        }
      }

    }

    &.mobile {
      ul {
        display: block;
        background-color: white !important;
        width: inherit;
        list-style: none;
        visibility: hidden;
        position: absolute;
        padding: 0;
        z-index: 1;
        margin: 0;
        transition: visibility 2ms;
        height: auto;

        .item {
          display: block;
          list-style-type: none;
          margin: 0;
          padding: 0 10px;
          width: 100%;
          line-height: 2rem;
          border-bottom: 1px solid rgba(0, 50, 143, 0.2);
          color: #00328f;
          font-size: 0.9em;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: rgba(0, 50, 143, 0.2);
          }
        }


      }
      &:hover {
        ul{
          visibility: visible;
        }
      }

    }

    .menu {
      margin: 0;
      display: flex;
      align-items: center;
      padding: 8px;

      h3 {
        margin: 0;
        font-size: 1em;
      }
    }


  }

  @media (max-width: 1024px) {
    .menu-area {
      width: 100%;
      margin: 0;
    }
  }

}


