<div class="auth-container">
  <h3>პაროლის აღდგენა</h3>
  <div class="auth-form">
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="ელ.ფოსტა" formControlName="email">
      </mat-form-field>
      <div style="margin: 12px; color: #ee1839">პაროლს მიიღებთ ელ.ფოსტის მეშვეობით.</div>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">აღდგენა</button>
    </form>
    <div class="auth-links" fxLayout="row" fxLayoutAlign="space-between center">
      <a [routerLink]="['/auth/recovery']">პაროლის აღდგენა</a>
      <a [routerLink]="['/auth/register']">რეგისტრაცია</a>
    </div>
  </div>
</div>
