:host {
  display: block;
  width: 70%;
  margin: 15px auto;

  .container {

    display: flex;
    flex-direction: column;


    .products {
      width: auto;
      margin: 5px;
      height: auto;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &:focus {
        outline: none;
      }

      .price {
        //position: absolute;
        top: 15px;
        left: 15px;
        padding: 10px 10px 2px 10px;
        font-size: 22px;
        //border-bottom: 5px solid #e1ae1d;
        //background-color: rgba(255, 255, 255, .7);

        .price-small {
          font-size: 12px !important;
          position: relative;
          top: -11px;
          left: 2px;
        }
      }

      .info {
        //position: absolute;
        margin-left: 15px;
        bottom: 0;
        width: 100%;
        height: auto;

        font-size: 12px;


      }

      h1 {
        font-size: 14px;
        border-bottom: 2px solid #ed193a;
        width: 100%;
      }

      img {
        width: 150px;
        height: auto
      }

      .actions {
        margin: 5px 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;


        .numberPanel {
          border: 1px solid rgba(128, 128, 128, 0.1);
          padding: 2px;
          border-radius: 15px;
          float: right;
          margin-right: 10px;

          .change {
            float: left;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            color: white;
            line-height: 25px;
            text-align: center;
            cursor: pointer;
          }

          .number {
            float: left;
            margin-left: 10px;
            margin-right: 10px;
            line-height: 25px;
            color: gray;
          }
        }
      }
    }

  }


}

@media (max-width: 1024px) {
  :host {
    width: 100%;
    margin: 15px auto;
  }
}
