<div class="container">
  <div class="products" fxLayout="column">
<!--    <div>-->
<!--      <img src="assets/products/1.jpg" alt="" width="500px">-->
<!--    </div>-->
<!--    <div>-->
<!--      <h1>ლუდის სტარტერების დაფა</h1>-->
<!--      <article>-->
<!--        <ul>-->
<!--          <li>მოცარელა ბეკონში</li>-->
<!--          <li>სულგუნის ჩხირები</li>-->
<!--          <li>ქათმის ნაგეთსი</li>-->
<!--          <li>ხახვის რგოლები ჩიფსი</li>-->
<!--          <li>ნივრიანი ტოსტი</li>-->
<!--          <li>კრუტონი</li>-->
<!--        </ul>-->
<!--      </article>-->
<!--      <button mat-raised-button color="primary">მენიუში დამატება</button>-->
<!--    </div>-->
    <h1>ლუდის სტარტერების დაფა</h1>
    <div fxLayout="row">

      <img [src]="'assets/products/1.jpg'" alt="">
      <div class="info">
        <div class="price" *ngIf="priceSuf">{{priceSuf}}<span class="price-small">{{pricePref}}</span><i
          class="lari lari-narrow-sans"></i></div>
        <article>
          <ul>
            <li>მოცარელა ბეკონში</li>
            <li>სულგუნის ჩხირები</li>
            <li>ქათმის ნაგეთსი</li>
            <li>ხახვის რგოლები ჩიფსი</li>
            <li>ნივრიანი ტოსტი</li>
            <li>კრუტონი</li>
          </ul>
        </article>
      </div>

    </div>
    <div class="actions">
      <div class="numberPanel">
        <div class="change" style="background-color: #1e212b" (click)="decrement()">-</div>
        <div class="number">{{quantity}}</div>
        <div class="change" style="background-color: #c73031" (click)="increment()">+</div>
      </div>
      <button mat-raised-button color="primary" (click)="addToCart()">
        <mat-icon svgIcon="cart-outline"></mat-icon>
      </button>
    </div>
  </div>
</div>
