<div class="auth-container">
  <h3></h3>
  <div class="auth-form">
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="პაროლი" [type]="password ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="password = !password">{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [type]="confirmPassword ? 'password' : 'text'" placeholder="გაიმეორეთ პაროლი" formControlName="confirmPassword">
        <mat-icon matSuffix (click)="confirmPassword = !confirmPassword">{{confirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid">
          <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
          <div *ngIf="f.confirmPassword.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button color="accent" class="btn-block">რეგისტრაცია</button>
    </form>
  </div>
</div>
