<div class="container">
  <h1 *ngIf="category">{{category}}</h1>
  <div class="products" fxLayout="row wrap">
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/1.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/2.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/3.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/4.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/5.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/6.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/7.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/8.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/9.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/10.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/10.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
    <app-product-item
      fxFlex="48%" fxFlex.xs="100%"
      image="assets/products/10.jpg"
      title="დიდი ტრადიციების უმაღლესი ხარისხის ლუდი 1417 წლიდან!"
      [price]="13.99"
    ></app-product-item>
  </div>
</div>
