:host {
  display: block;
  width: 70%;
  margin: 0 auto;

  .container {

    display: flex;
    flex-direction: column;

    h1{
      margin: 15px;
      border-bottom: 5px solid #ed193a;
    }
  }


}


@media (max-width: 1024px) {
  :host {
    width: 100%;
    margin: 0 auto;
  }
}
