:host {
  background: #fff;
  color: #e1ae1d;
  width: 100%;
  height: initial;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  ::ng-deep .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
    background-color: #004182;
    color: transparent;
    width: 8px;
    height: 8px;
    right: -4px;
    top: -4px;
  }
  .container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    mat-icon {
      color: #e1ae1d;

    }

    .menu {
      padding: 0 10px;
      flex: initial;

      ::ng-deep .mat-list-base .mat-list-item {
        font-family: "BPG Nino Mtavruli Bold", sans-serif !important;
      }
    }
    .logo {
      flex: 0 1 auto;
      padding: 10px 15px;

      img {
        max-height: 50px;
      }
    }

    .basket {
      padding: 0 10px;
      flex: initial;
    }

  }


  @media (max-width: 1024px) {
    .container {
      width: 100%;
      margin: 0;
      //border-bottom: 10px solid #e1ae1d;
      box-shadow: 0 0 4px rgb(0 0 0);


      .logo {
        padding: 5px 10px;

        img {
          max-height: 40px;
        }
      }
    }
  }
}

.categories {
  width: 100%;
  height: 40px;
  position: relative;
  background-color: #e1ae1d;

  .menu-area {
    width: 70%;
    margin: 0 auto;

    ul {
      background-color: transparent;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 2px;
      height: 36px;
      .item {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        font-size: 0.9rem;
        &:focus {
          outline: none;
        }
        &:hover {
          color: white;
        }
      }

    }

    &.mobile {
      ul {
        display: block;
        background-color: white !important;
        width: inherit;
        list-style: none;
        visibility: hidden;
        position: absolute;
        padding: 0;
        z-index: 1;
        margin: 0;
        transition: visibility 2ms;
        height: auto;

        .item {
          display: block;
          list-style-type: none;
          margin: 0;
          padding: 0 10px;
          width: 100%;
          line-height: 2rem;
          border-bottom: 1px solid rgba(0, 50, 143, 0.2);
          color: #00328f;
          font-size: 0.9em;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            background-color: rgba(0, 50, 143, 0.2);
          }
        }


      }
      &:hover {
        ul{
          visibility: visible;
        }
      }

    }

    .menu {
      margin: 0;
      display: flex;
      align-items: center;
      padding: 8px;

      h3 {
        margin: 0;
        font-size: 1em;
      }
    }


  }

  @media (max-width: 1024px) {
    .menu-area {
      width: 100%;
      margin: 0;
    }
  }

}


