<!--<div class="item" [routerLink]="['/product/dish']">-->
<!--  <img [src]="image" alt="">-->
<!--  <div class="info">-->
<!--    <h3>{{title}}</h3>-->
<!--  </div>-->
<!--  <div class="price" *ngIf="priceSuf">{{priceSuf}}<span class="price-small">{{pricePref}}</span><i class="lari lari-narrow-sans"></i></div>-->
<!--</div>-->

<div class="item">

  <div fxLayout="column" fxLayoutAlign="space-around stretch">

    <img [routerLink]="['/product/dish']" [src]="image" alt="">
    <div class="info">
      <div fxLayout="row">

        <h3 [routerLink]="['/product/dish']">{{title}} - <span class="price" *ngIf="priceSuf">{{priceSuf}}<span class="price-small">{{pricePref}}</span></span></h3>

      </div>
      <article>
        მოცარელა ბეკონში,სულგუნის ჩხირები,ქათმის ნაგეთსი,ხახვის რგოლები ჩიფსი,ნივრიანი ტოსტი,კრუტონი
      </article>
      <div class="actions">
        <div class="numberPanel">
          <div class="change"  (click)="decrement()">-</div>
          <div class="number">{{quantity}}</div>
          <div class="change"  (click)="increment()">+</div>
        </div>
        <button mat-icon-button color="primary"  (click)="addToCart()">
          <mat-icon svgIcon="cart-outline"></mat-icon>
        </button>
      </div>
    </div>

  </div>

</div>
