:host {
  border-bottom: 10px solid rgba(225, 174, 29, 0.5);
  background-color: white;
  box-shadow: 0px 1px 4px 1px #1e212b;
  margin: 5px;
}

.item {
  width: auto;
  margin: 5px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:focus {
    outline: none;
  }

  .price {
    //position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 10px 2px 10px;
    font-size: 22px;
    //border-bottom: 5px solid #e1ae1d;
    //background-color: rgba(255, 255, 255, .7);

    .price-small{
      font-size: 12px !important;
      position: relative;
      top: -11px;
      left: 2px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;

    font-size: 12px;


  }
  h3{
    font-size: 14px;
    //border-bottom: 2px solid #ed193a;
    width: 100%;
    flex: initial;
  }
  img {
    width: 150px;
    height: auto;
    margin: auto;
  }
  .actions {
    flex: initial;
    margin: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;


    .numberPanel {
      padding: 2px;
      border-radius: 15px;
      float: right;
      margin-right: 10px;

      .change {
        float: left;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: white;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        background-color: #e1ae1d;
      }

      .number {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 25px;
        color: gray;
      }
    }
  }
}
