:host {
  display: flex;
  background: #00254b;
  color: rgba(255, 255, 255, 0.72);
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.42857143;
  border-top: 10px solid #f2b41f;

  .container {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    .footer-items {
      display: flex;
      align-items: center;
      .items_in {
        ul {
          padding: 0;
          margin: 0;

          li {
            display: block;
            list-style-type: none;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.7);
            margin: 8px 0;
            padding-right: 15px;

            a {
              color: rgba(255, 255, 255, 0.7);
            }
          }
        }
      }
    }

    .social_icons {
      padding-top: 5px;
    }
    img {
      height: 27px;
    }

    mat-icon {
      color: rgba(255, 255, 255, 1);
      margin: 15px;
    }
  }

  @media (max-width: 1024px) {
    .container {
      width: 100%;
      margin: 0;
      flex-direction: row;
      .items_in {
        margin:0 10px;
      }
      .social_icons {
        margin:0 10px;
        text-align: center;
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      margin: 0;
      flex-direction: column;
      .items_in {
        margin: 0;
      }
      .social_icons {
        margin: 5px;
        text-align: center;
        padding-top: 0;
      }
    }
  }



  h3 {
    color: #e1ae1d;
  }

  .bottom {
    margin: 0 20px;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
  }
}
