<div class="orders" fxLayout="column">

  <div *ngFor="let order of orders" class="order-item" [ngStyle]="{borderBottomColor: orderStatusColor(order.status)}">
    <div>
      <div>სტატუსი: {{order?.status | orderStatus}}</div>
      <div>შეკვეთის დრო: {{order?.orderAt | date:'dd/MM/yyyy HH:mm'}}</div>
      <div>თანხა({{order?.paymentType | paymentType}}):  {{+order?.productPrice + +order?.deliveryPrice | number:'.1-2'}}</div>
      <div>მისამართი: {{order?.address}}</div>
      <div>კომენტარი: {{order?.comment}}</div>
    </div>
    <mat-divider style="margin: 5px 0"></mat-divider>
    <div class="cart-info" >
      <div *ngFor="let cart of order.orderProducts">{{cart?.product?.name}} x {{cart?.quantity}}
        - {{+cart?.product?.price * +cart?.quantity | number:'.1-2'}}
      </div>
    </div>
<!--    <pre>-->
<!--      {{order | json}}-->
<!--    </pre>-->
  </div>
</div>

