.order-item {
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  background-color: white;
  box-shadow: 0 0 4px 0 #1e212b;
  margin: 5px 10px;

  .cart-info {
    margin:15px 0;
    font-size: 12px;

    &.menu > div {
      border-bottom: 1px solid #e4e4e4;
      padding: 8px 5px;
    }

    .total-price {
      margin-top: 15px;
      font-size: 1.2rem;
    }
  }
}
