<div class="container">
  <div class="products" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px">
    <ng-container *ngIf="searchState$ | async">
      <mat-form-field class="search-field">
        <mat-label>რას მიირთმევთ?</mat-label>
        <input matInput type="text" [(ngModel)]="value" (ngModelChange)="search($event)" [autofocus]="true" >
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="closeSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="products$ | async as products">
      <ng-container *ngIf="products.length;else notFound">
        <app-product-item
          *ngFor="let product of products"
          fxFlex="48%" fxFlex.xs="100%"
          [product]="product"
          [image]="apiUrl+'/'+product?.image"
          [title]="product?.name"
          [description]="product?.description"
          [price]="product?.price"
        ></app-product-item>
      </ng-container>
      <ng-template #notFound>
        <div fxLayout="column" fxFlexAlign="center center">
          <div style="text-align: center; height: 2rem">ასეთი დასახელებით კერძი ვერ ვიპოვე </div>
          <div style="text-align: center"><a href="#" (click)="closeSearch()">მენიუ</a></div>
        </div>
      </ng-template>
    </ng-container>

  </div>
</div>
<app-footer></app-footer>
