:host {
  display: block;



  .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: calc(100vh - 166px);

    .offers {
      background-image: url("/assets/slider/slider.jpg");
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 400px;
    }
    .products {
      margin-top: 5px;
    }
  }


}
@media (max-width: 1024px) {
  :host {

    margin: 0 auto;
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;

      .offers {
        background-image: url("/assets/slider/slider.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
      }
    }
  }
}


.search-field {
  width: 100%;
  margin:0 15px;
}
