.price {
  //position: absolute;
  top: 15px;
  left: 15px;
  padding: 10px 10px 2px 10px;
  font-size: 1.1em !important;
  //border-bottom: 5px solid #e1ae1d;
  //background-color: rgba(255, 255, 255, .7);

  .price-small{
    font-size: 0.6em !important;
    position: relative;
    top: -11px;
    left: 2px;
  }
}
