<div class="auth-container">
  <h3>ავტორიზაცია</h3>
  <div class="auth-form">
    <a href="" class="fb connect">შესვლა Facebook-ით</a>

    <div>- ან -</div>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="ელ.ფოსტა" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="პაროლი" [type]="password ? 'password' : 'text'" formControlName="password">
        <mat-icon matSuffix (click)="password = !password">{{password ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-stroked-button color="accent" class="btn-block">შესვლა</button>
    </form>
    <div class="auth-links" fxLayout="row" fxLayoutAlign="space-between center">
      <a [routerLink]="['/auth/recovery']">დაგავიწყდა პაროლი?</a>
      <a [routerLink]="['/auth/register']">რეგისტრაცია</a>
    </div>
  </div>
</div>
