<!--<div class="item" [routerLink]="['/product/dish']">-->
<!--  <img [src]="image" alt="">-->
<!--  <div class="info">-->
<!--    <h3>{{title}}</h3>-->
<!--  </div>-->
<!--  <div class="price" *ngIf="priceSuf">{{priceSuf}}<span class="price-small">{{pricePref}}</span><i class="lari lari-narrow-sans"></i></div>-->
<!--</div>-->

<div class="item">

  <div fxLayout="column" fxLayoutAlign="start start">

    <div fxFlex="initial">
      <img [ngClass]="{disabled: disabled}" [src]="image" alt="">
    </div>
    <div fxFlex="auto" class="info">
      <div fxLayout="row">
        <h3>{{title}} -
          <app-price [price]="price || 0"></app-price>
        </h3>
      </div>
      <article>
        {{description}}
      </article>
      <div class="actions">
        <div class="numberPanel">
          <ng-container *ngIf="quantity > 0">
            <div class="change" (click)="decrement()">-</div>
            <div class="number">{{quantity}}</div>
          </ng-container>
          <div class="change" [ngClass]="{disabled: disabled}" (click)="increment()">+</div>
        </div>
      </div>
    </div>

  </div>

</div>
