<div class="container">
  <form class="cart-info" [formGroup]="form">

    <mat-form-field class="full-width-field" appearance="fill" floatLabel="always">
      <mat-label>საკონტაქტო ტელეფონი</mat-label>
      <input matInput placeholder="მობილურის ნომერი" required formControlName="phone" #phone (ngModelChange)="changeForm($event)">
      <button mat-button *ngIf="phone.value" matSuffix mat-icon-button aria-label="Clear" (click)="phone.value = ''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['phone'].touched && form.controls['phone'].hasError('required')">საკონტაქტო
        ტელეფონი სავალდებულოა
      </mat-error>
      <mat-error *ngIf="form.controls['phone'].touched && form.controls['phone'].hasError('minlength')">საკონტაქტო
        ტელეფონი მინიმუმ 9 სიმბოლო
      </mat-error>
      <mat-error *ngIf="form.controls['phone'].touched && form.controls['phone'].hasError('maxlength')">საკონტაქტო
        ტელეფონი მახსიმუმ 9 სიმბოლო
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width-field" appearance="fill" floatLabel="always">
      <mat-label>სად მოგართვათ?</mat-label>
      <input matInput placeholder="მისამართი" required formControlName="address" #address (ngModelChange)="changeForm($event)">
      <button mat-button *ngIf="address.value" matSuffix mat-icon-button aria-label="Clear" (click)="address.value = ''">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="form.controls['address'].touched && form.controls['address'].hasError('required')">მისამართი
        სავალდებულოა
      </mat-error>
    </mat-form-field>
    <div fxLayout="column" fxLayoutGap="10px" style="margin: 0 10px 10px">
      <label>როგორ გირჩევნიათ გადახდა?</label>
      <mat-radio-group required formControlName="paymentType" (ngModelChange)="changeForm($event)">
        <mat-radio-button class="radio-group-item" value="CASH">ნაღდი</mat-radio-button>
        <mat-radio-button class="radio-group-item" value="TERMINAL">ბარათი/ტერმინალი</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="form.controls['paymentType'].touched && form.controls['paymentType'].hasError('required')">
        გადახდის მეთოდის მითითება სავალდებულოა
      </mat-error>
    </div>
    <mat-form-field class="full-width-field" appearance="fill" floatLabel="always">
      <mat-label>კომენტარი/დამატებითი ინფორმაცია</mat-label>
      <textarea formControlName="comment" (ngModelChange)="changeForm($event)" matInput [mat-autosize]="true" placeholder="მიუთითეთ დამტებითი კომენტარი"
                rows="3"></textarea>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="15px" style="margin:0 15px">
      <button type="button" fxFlex mat-raised-button routerLink="/checkout">დაამატებთ რამეს?</button>
      <button type="button" fxFlex mat-raised-button color="primary" (click)="orderConfirm()">დადასტურება</button>
    </div>
  </form>
  <mat-divider style="margin-top: 35px;"></mat-divider>
  <div class="cart-info menu" style="margin-top: 35px;" *ngIf="carts$ | async as carts">
    <div *ngFor="let cart of carts">{{cart?.product?.name}} x {{cart?.quantity}}
      - <app-price [price]="(+cart?.product?.price * +cart?.quantity) || 0"></app-price>
      <div *ngIf="cart.product.needBox">{{cart?.product?.boxName}} - <app-price [price]="(+cart?.product?.boxPrice) || 0"></app-price></div>
    </div>

    <div>მიტანის ღირებულება: <app-price [price]="(totalPrice * (shippingRate / 100)) || 0"></app-price></div>
    <div class="total-price">ჯამური
      ღირებულება:
      <app-price [price]="(totalPrice + (totalPrice * (shippingRate / 100))) || 0"></app-price>
    </div>


  </div>

</div>
