:host {
  .container {
    margin: 15px auto;

    .cart-info {
      margin: 15px;
      font-size: 14px;

      &.menu > div {
        border-bottom: 1px solid #e4e4e4;
        padding: 8px 5px;
      }

      .total-price {
        margin-top: 15px;
        font-size: 1.2rem;
      }
    }
  }
}
