<div class="item" fxLayout="row" fxLayoutGap="15px">

  <div fxFlex="initial">
    <img [src]="apiUrl+'/'+cart?.product?.image" alt="" width="50px">
  </div>
  <div fxFlex="auto" class="info" fxLayout="column">
    <div fxFlex="auto">{{cart?.product?.name}} - <app-price [price]="(+cart?.product?.price * +quantity) || 0"></app-price></div>
    <div fxFlex="initial" class="actions" fxLayout="row" fxLayoutAlign="space-between end">
      <div fxFlex="auto" class="numberPanel">
        <ng-container *ngIf="quantity > 0">
          <div class="change" (click)="decrement()">-</div>
          <div class="number">{{quantity}}</div>
        </ng-container>
        <div class="change"  (click)="increment()">+</div>
      </div>
      <div fxFlex="initial" style="padding-top: 15px">
        <mat-icon class="cart-item-delete" color="warn" (click)="delete()">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
