.item {
  box-shadow: 0 0 3px #d4d4d4;
  padding: 10px;
  margin: 5px auto;
  position: relative;

  .cart-item-delete{
    cursor: pointer;
  }


  .actions {
    flex: initial;
    margin: 5px 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;


    .numberPanel {
      padding: 2px;
      border-radius: 15px;
      margin-right: 10px;

      .change {
        float: left;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: white;
        line-height: 25px;
        text-align: center;
        cursor: pointer;
        background-color: #e1ae1d;
      }

      .number {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 25px;
        color: gray;
      }
    }
  }
}


